@use "../../../presets" as *;
@use "../../../mixins" as *;

.skill-item {
  position: relative;
  background-color: $color-primary;
  background-image: url(../img/img-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__image {
    @include abs-position;
  }
}

.skill-item:nth-of-type(1).skill-item__image {
  background-image: url(../img/img-html.png);
}

.skill-item:nth-of-type(2).skill-item__image {
  background-image: url(../img/img-css.png);
}

.skill-item:nth-of-type(1) {
  grid-area: a1;
}

.skill-item:nth-of-type(2) {
  grid-area: a2;
}

.skill-item:nth-of-type(3) {
  grid-area: a3;
}

.skill-item:nth-of-type(4) {
  grid-area: a4;
}

.skill-item:nth-of-type(5) {
  grid-area: a5;
}

.skill-item:nth-of-type(6) {
  grid-area: a6;
}

.skill-item:nth-of-type(7) {
  grid-area: a7;
}

.skill-item:nth-of-type(8) {
  grid-area: a8;
}

.skill-item:nth-of-type(9) {
  grid-area: a9;
}